---
import { Icon } from "astro-icon/components";
import { BRAND, LOGO, SITE, SLOGAN } from "../site.ts";
import Container from "./Container.astro";
import socials from "./Data/socials.json";

const links = [
	{ text: "About", link: "/about" },
	{ text: "Services", link: "/#services" },
	{ text: "Our Team", link: "/about#team" },
	{ text: "Contact", link: "/contact" },
	{ text: "FAQ", link: "/faq" },
];
---

<footer class="bg-lime bg-fixed bg-bottom text-black border-t-2">
    <Container>
        <div class="mx-auto max-w-5xl px-4 py-16 sm:px-6 lg:px-8">
            <div class="flex justify-center text-teal-600 pt-6 pb-12">
                <img
                    class="w-1/2 max-w-[225px] mx-auto"
                    src={LOGO}
                    alt={BRAND}
                />
            </div>

            <p
                class="mx-auto mt-6 max-w-md text-center leading-relaxed text-gray-500"
            >
                <span
                    class="inline-block shadow-inner px-4 py-1 italic"
                >
                    {SLOGAN}
                </span>
            </p>

            <ul
                class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:gap-12"
            >
                {
                    links.map(({ text, link }) => (
                        <li>
                            <a
                                class="text-gray-700 hover:underline transition hover:text-gray-700/75"
                                href={link}
                            >
                                {text}
                            </a>
                        </li>
                    ))
                }
            </ul>

            <ul class="mt-12 flex justify-center gap-6 md:gap-8">
                {
                    socials.map(({ name, icon, link }) => (
                        <li  class="hover:bg-lime rounded-lg p-2">
                            <a
                                href={link}
                                rel="noreferrer"
                                target="_blank"
                                class="text-gray-700 transition hover:text-gray-700/75"
                            >
                                <span class="sr-only">{name}</span>
                                <Icon name={icon} class="size-6" />
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
        <div class="py-6 text-sm text-center">
            Copyright &copy; <span id="currentYear"></span>
            {SITE} | All Rights Reserved.
        </div>
    </Container>
</footer>

<script is:inline>
    const year = new Date().getFullYear();
    document.getElementById("currentYear").innerHTML = `${year}`;
</script>
