---
import "../styles/global.css";
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import { BRAND, DESCRIPTION, FAVICON, OGIMAGE, WEBSITE } from "../site.ts";

const { title = BRAND } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
 
    <title>{title}</title>
    <meta name="title" content={BRAND} />
    <meta name="description" content={DESCRIPTION} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={WEBSITE} />
    <meta property="og:title" content={BRAND} />
    <meta property="og:description" content={DESCRIPTION} />
    <meta property="og:image" content={OGIMAGE} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={WEBSITE} />
    <meta property="twitter:title" content={BRAND} />
    <meta property="twitter:description" content={DESCRIPTION} />
    <meta property="twitter:image" content={OGIMAGE} />
    
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={FAVICON} />
    <ViewTransitions />
  </head>
  <body class="bg-white">
    <Navbar />
    <slot />
    <Footer/>
  </body>
</html>
